@import 'fonts';

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-width: 360px;
    font-family: 'Montserrat-Regular';
    font-size: 20px;
}

.container{
    max-width: 1450px;
    padding: 0 15px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.lock{
    overflow-y: hidden;
}

.btn{
    background-color: #037DD6;
    color: #fff;
    font-family: 'Jost-Medium';
    font-size: 24px;
    padding: 18px 40px;
}

.header{
    padding: 75px 0 50px;
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo{
        margin-right: 70px;
    }
    &__logo img{
        max-width: 100%;
    }
    &__items{
        display: flex;
        flex-direction: column;
        &-top{
            display: flex;
            align-items: center;
            border-bottom: 1px solid #037dd6;
            padding-bottom: 25px;
        }
        &-bottom{
            padding: 25px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #037dd6;
        }
    }
    &__quote{
        font-family: 'Jost-Regular';
        max-width: 390px;
        line-height: 130%;
    }
    &__place{
        position: relative;
        font-family: 'Jost-Medium';
        font-size: 18px;
        line-height: 130%;
        max-width: 412px;
        padding-left: 50px;
        margin-right: 30px;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            background-image: url(../images/place.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    &__menu{}
    &__menu-list{
        display: flex;
        font-size: 24px;
        li{
            position: relative;
            margin-right: 78px;
        }
        li:last-child{
            margin-right: 0;
        }
        li::before,
        li::after{
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 10px;
            height: 2px;
            background-color: #000;
        }
        li::before{
            transform: rotate(40deg);
            right: -20px;
        }
        li::after{
            transform: rotate(-40deg);
            right: -27px;
        }
    }
    &__phone{
        font-family: 'Jost-Light';
        font-size: 24px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -40px;
            width: 40px;
            height: 40px;
            background-image: url(../images/phone.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.top{
    position: relative;
    min-height: 100vh;
    background-image: url(../images/top-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 170px;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.49) 10.19%, rgba(0, 0, 0, 0.18) 70.05%);

    }
    &__inner{
        position: relative;
        z-index: 2;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }
    &__title{
        font-family: 'Jost-Black';
        font-size: 80px;
        color: #fff;
        margin-bottom: 40px;
        max-width: 1100px;
    }
}

.title{
    font-size: 60px;
    font-family: 'Jost-Medium';
    margin-bottom: 30px;
}

.about{
    margin-bottom: 170px;
    &__inner{}
    &__rows{}
    &__row{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
    }
    &__row-item{
        margin-right: 20px;
    }
    &__row-item-title{
        font-size: 96px;
        font-family: 'Jost-Medium';
    }
    &__row-item-descr{
        padding: 10px;
        min-width: 340px;
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #037DD6;
        color: #fff;
    }
}

.projects{
    margin-bottom: 170px;
}

.news{
    margin-bottom: 170px;
    &__inner{}
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__more{
        color: #037DD6;
        font-size: 24px;
        font-family: 'Jost-Medium';
    }
    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 90px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__img img{
        max-width: 100%;
    }
    &__img:nth-child(1),
    &__img:nth-child(3){
        margin-right: 20px;
    }
    &__img:nth-child(2){
        margin-left: 20px;
    }
    &__descr{
        max-width: 460px;
        &-title{
            color: #037DD6;
            font-size: 24px;
            font-family: 'Montserrat-Medium';
            margin-bottom: 10px;
        }
        &-p{
            font-size: 20px;
            font-family: 'Montserrat-Regular';
            margin-bottom: 35px;
        }
    }
}

.feedback{
    margin-bottom: 170px;
    &__inner{}
    &__items{
        display: flex;
        justify-content: space-between;
        // align-items: center;
    }
    &__p{
        max-width: 625px;
        margin-bottom: 30px;
    }
    &__form{
        max-width: 360px;
        &-item{
            margin-bottom: 20px;
        }
        &-input{
            padding-bottom: 5px;
            font-size: 13px;
            color: #000;
            font-family: 'Montserrat-Light';
            outline: none;
            width: 100%;
            border: none;
            border-bottom: 1px solid #000;
            transition: all .3s;
        }
        &-input:focus{
            border-bottom-color: #037DD6;
        }
        &-input::placeholder{
            color: #ABABAB;
        }
        &-label{
            font-size: 13px;
            color: #000;
            font-family: 'Montserrat-Light';
        }
    }
}

.map{
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__subtitle{
        max-width: 560px;
        font-size: 20px;
        font-family: 'Montserrat-Regular';
        color: #037DD6;
    }
}

.footer{
    padding: 30px 0 60px;
    background: #037DD6;
    font-family: 'Montserrat-Medium';
    color: #fff;
    &__inner{
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    &__item{
        max-width: 370px;
        &:nth-child(3){
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__copy{
        font-size: 15px;
        margin-bottom: 25px;
    }
    &__quote{
        font-size: 20px;
        text-transform: uppercase;
    }
    &__place{
        font-size: 18px;
        margin-bottom: 10px;
    }
    &__link{
        display: block;
        font-size: 15px;
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__item-img{
        margin-right: 15px;
        &:last-child{
            margin-right: 0;
        }
        img{
            max-width: 100%;
        }
    }
}

.top-btn{
    position: absolute;
    bottom: 0;
    right: 0;
}


.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all .8s ease 0s;
    z-index: 10;

    &.open {
        opacity: 1;
        visibility: visible;
    }

    &__inner-form {
        max-width: 500px;
        background: #fff;
        position: relative;
        padding: 40px 100px;
    }

    &__close {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 26px;
        right: 26px;
        cursor: pointer;
    }

    &__close::after,
    &__close::before {
        position: absolute;
        content: "";
        width: 25px;
        height: 2px;
        background-color: #69766D;
        top: 9px;
        right: -2px;
    }

    &__close::after {
        transform: rotate(45deg);
    }

    &__close::before {
        transform: rotate(-45deg);
    }

    &__body {
        // text-align: center;
        font-size: 12px;
        max-width: 680px;
        // height: 560px;
        background: #fff;
        padding: 50px 80px;
    }

    &__title {
        text-align: center;
        font-family: 'Jost-Medium';
        font-size: 50px;
        margin-bottom: 30px;
    }

    &__form {
        margin-bottom: 30px;
        padding: 0 30px;
        &-item{
            margin-bottom: 15px;
        }
        &-item:last-child{
            margin-bottom: 0;
        }
        &-label{
            font-size: 18px;
            font-family: 'Montserrat-Light';
            color: #929292;
            display: block;
            margin-bottom: 10px;
        }
        &-input {
            display: block;
            width: 100%;
            border: 1px solid #929292;
            outline: none;
            padding: 8px 10px;
            font-family: 'Montserrat-Light';
            font-size: 18px;
            margin-bottom: 10px;
            color: #000;
        }
        &-input:last-child{
            margin-bottom: 0;
        }
        &-btn {
            font-family: 'Jost-Medium';
            font-size: 24px;
            display: block;
            width: 100%;
            padding: 15px 10px;
            background: #037DD6;
            color: #fff;
            border: none;
            outline: none;
            cursor: pointer;
        }
        &-privacy {
            color: #000;
            font-size: 14px;
            font-family: 'Montserrat-Light';
        }
    }
}

.card{
    padding-bottom: 150px;
    .back-btn{
        position: relative;
        font-family: 'Jost-Regular';
        font-size: 24px;
        padding-left: 15px;
        &::after,
        &::before{
            content: '';
            position: absolute;
            width: 8px;
            // top: 50%;
            // transform: translateY(-50%);
            left: 0;
            height: 2px;
            background: #037DD6;
            border-radius: 2px;
        }
        &::after{
            transform: rotate(45deg);
            bottom: 13px;
        }
        &::before{
            transform: rotate(-45deg);
            top: 15px;
        }
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__img{
        margin-right: 40px;
        width: 50%;
        img{
            max-width: 100%;
            margin-bottom: 5px;
        }
        &-descr{
            color: #929292;
            font-size: 16px;
            font-family: 'Montserrat-Regular';
            margin-bottom: 40px;
        }
    }
    &__descr{
        max-width: 800px;
        &-title{
            font-size: 50px;
            font-family: 'Jost-Medium';
            line-height: 130%;
            margin-bottom: 30px;
        }
        &-p{
            font-size: 20px;
            font-family: 'Montserrat-Regular';
            margin-bottom: 50px;
        }
        &-subtitle{
            font-size: 24px;
            font-family: 'Jost-Medium';
            margin-bottom: 30px;
            max-width: 575px;
        }
    }
    &__table{
        max-width: 445px;
        font-family: 'Montserrat-Regular';
        font-size: 19px;
        &-item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        &-title{
            width: 225px;
            margin-right: 20px;
        }
        &-descr{
            color: #037DD6;
            width: 220px;
        }
    }
}